
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TechDiaries</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->

        <link rel="shortcut icon" href="http://cdn.ink.sapo.pt/3.1.10/img/favicon.ico">
        <link rel="apple-touch-icon" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad-retina.png">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

        <!-- load Ink's css from the cdn -->
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">

        <!-- load Ink's javascript files from the cdn -->
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/holder.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>

        <style>

            body {
                background: #ededed;
            }

            .panel {
                border-radius: 2px;
                -webkit-box-shadow: #dddddd 0 1px 1px 0;
                -moz-box-shadow: #dddddd 0 1px 1px 0;
                box-shadow: #dddddd 0 1px 1px 0;
                padding: 1em;
                border: 1px solid #BBB;
                background-color: #FFF;
            }
            .button{
                background-color:green;
                color: #FFF;
                border-radius: 8px;
                border: 3px solid black;
                margin-top: 4px;
            }

        </style>

    </head>
<body>

<header class="ink-grid">
   <div class="vertical-space">
    <div class="panel">
        <h1>TechDiaries<small>Everything Tech in One Place</small></h1>
        <nav class="ink-navigation">
            <ul class="menu horizontal black">
               <li class="active"><a href>Home</a></li>
               <li class="active"><a href>About</a></li>
               <li class="active"><a href>Blog</a></li> 
            </ul>
        </nav>
    </div>    
   </div> 
</header>
    <div class="ink-grid">
        <div class="panel">
            <div class="control-group append-button">
                <form class="ink-form" action='/predict' method="post">
                    <input type="text" name="article" placeholder="Search News..." class="validate">
                    <button type="submit" class="button" value="predict">Search</button>
            </form>
            </div>
        </div>
    </div>
<div class="ink-grid vertical-space">
    <div class="panel ink-grid">
                <h2></h2>
        <div id="car3" class="ink-carousel" data-autoload="false">
            <ul class="stage column-group half-gutters unstyled">

                <li class="slide xlarge-100 large-100 medium-100 small-100 tiny-100">
                    <h4 class="no-margin">Featured Article</h4>
                    <h5 class="slab">Aayush</h5>
                    <p>Data Science is an interdisciplinary field that utilizes scientific methods, algorithms, and processes to extract knowledge and insights from structured and unstructured data. For example, data scientists analyze customer data to identify patterns and preferences, helping businesses optimize their marketing strategies.</p>
                </li>
            </ul>
        </div>
    </div>    
    <div class="panel">
        <h2>Recommended Article</h2>
        <div id="car1" class="ink-carousel" data-space-after-last-slide="false" data-autoload="false">
            <ul class="stage column-group half-gutters">
                {%for result in final_result%}
                <li class="slide xlarge-25 large-25 medium-33 small-50 tiny-100">
                    <div class="description">
                        <h3 class="no-margin">{{result.split(' ', 1)[0]+ " " + result.split(' ')[1]}}....</h3>
                        <h6 class="slab">Aayush</h6>
                        <p>{{result}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <nav id="p1" class="ink-navigation">
                <ul class="pagination black">
                </ul>
            </nav> 
        </div>
        <script>
            Ink.requireModules(['Ink.UI.Carousel_1'], function(InkCarousel) {
                new InkCarousel('#car1', {pagination: '#p1'});
            });
        </script>
    </div>
 </div>
</body>
</html>

                
            